<!DOCTYPE html>
<html>
  <head>
    <title>Arduino Project</title>
  </head>
  <body>
    <h1>Flask API Call</h1>
    <div id="data"></div>

    <script>
      // Function to fetch and display data
      function getData() {
        fetch('/data')
          .then((response) => response.json())
          .then((data) => {
            // Get the div element to display the data
            const dataDiv = document.getElementById('data');

            // Check if the data contains an error message
            if ('msg' in data) {
              dataDiv.innerText = data['msg'];
            } else {
              // Get the active condition from the data
              const activeCondition = data[0].substring(25);

              // Display the active condition in the div element
              dataDiv.innerText = `The active condition is: ${activeCondition}`;
            }
          })
          .catch((error) => console.error(error));
      }

      // Call the getData function every 5 seconds
      setInterval(getData, 5000);
    </script>
  </body>
</html>
